.rowHead {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  background-color: #999;
  color: #fff;
  height: 2.2326rem;
}

.icon {
  width: 7.5472%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  width: 18.8679%;
}

.created {
  width: 15.0943%;
}

.category {
  width: 15.0943%;
}

.content {
  width: 15.0943%;
}

.dates {
  width: 16.9811%;
}

.edit {
  width: 3.7736%;
  display: none;
  color: #7a7a7a;
}

.archive {
  width: 3.7736%;
  display: none;
  color: #7a7a7a;
}

.delete {
  width: 3.7736%;
  display: none;
  color: #7a7a7a;
}
