.rowHead {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  background-color: #999;
  color: #fff;
  height: 2.2326rem;
}

.icon {
  width: calc(7.5472 * (100% - 1rem) / 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  width: calc(18.8679 * (100% - 1rem) / 100);
}

.created {
  width: calc(15.0943 * (100% - 1rem) / 100);
}

.category {
  width: calc(15.0943 * (100% - 1rem) / 100);
}

.content {
  width: calc(15.0943 * (100% - 1rem) / 100);
}

.dates {
  width: calc(16.9811 * (100% - 1rem) / 100);
}

.edit {
  width: calc(3.7736 * (100% - 1rem) / 100);
  display: none;
  color: #7a7a7a;
}

.archive {
  width: calc(3.7736 * (100% - 1rem) / 100);
  display: none;
  color: #7a7a7a;
}

.delete {
  width: calc(3.7736 * (100% - 1rem) / 100);
  display: none;
  color: #7a7a7a;
}
