.rowHead {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  background-color: #999;
  color: #fff;
  height: 2.2326rem;
}

.icon {
  width: calc(7.5472 * (100% - 1rem) / 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteCategory {
  width: calc(18.8679 * (100% - 1rem) / 100);
}

.active {
  width: calc(18.8679 * (100% - 1rem) / 100);
  color: #fff;

  &:hover {
    color: #ccc;
  }
}

.archived {
  width: calc(15.0943 * (100% - 1rem) / 100);
  color: #fff;

  &:hover {
    color: #ccc;
  }
}
