.table {
  overflow: hidden;
  width: 89.8305%;
  margin-left: auto;
  margin-right: auto;
}

.tableWithNotes {
  max-height: 17.6835rem;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.tableWithNotes::-webkit-scrollbar {
  width: 0;
}

.tableWithSummaries {
  height: 6.6534rem;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.tableWithSummaries::-webkit-scrollbar {
  width: 0;
}
