.table {
  overflow: hidden;
  width: 100%;
}

.tableWithRows {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.tableWithRows::-webkit-scrollbar {
  width: 0;
}
